<?xml version="1.0"?>
<launch>
  <include file="$(find replanners_lib)/launch/cell.launch">
    <arg name="demo_package" value="cartesian_moveit_config"/>
    <arg name="static_scene" value="static_scene_crash_test.yaml"/>
  </include>

  <rosparam command="load" file="$(find replanners_lib)/config/crash_test_replanner.yaml"/>

  <node pkg="replanners_lib"
        name="crash_test_replanners"
        type="crash_test_replanners"
        output="screen"
        launch-prefix="gdb -ex run --args" >
  </node>

</launch>
