<?xml version="1.0"?>
<launch>
  <arg name="demo_package" default="cartesian_moveit_config"     doc="name of the package in which the demo.launch file is."   />
  <arg name="objects" default="object_test_replanner.yaml"       doc="file containing the description of the objects to spawn."/>
  <arg name="static_scene" default="static_scene_cartesian.yaml" doc="file containing the description of the static scene."    />

  <include file="$(eval find(arg('demo_package')) + '/launch/demo.launch')"/>

  <rosparam command="load" file="$(find replanners_lib)/config/scene/$(arg objects)"/>
  <rosparam command="load" file="$(find replanners_lib)/config/scene/$(arg static_scene)"/>

  <node pkg="object_loader" name="context_manager_node" type="context_manager_node" respawn="true" output="screen"/>
  <node pkg="object_loader" name="scene_spawner" type="scene_spawner" output="screen"/>
</launch>
