<?xml version="1.0"?>
<launch>
  <include file="$(find replanners_lib)/launch/cell.launch">
    <arg name="demo_package" value="cartesian_moveit_config"/>
    <arg name="static_scene" value="static_scene_cartesian.yaml"/>
  </include>

  <node name="test_add_remove_node"
        pkg="replanners_lib"
        type="test_add_remove_node"
        output="screen"
        launch-prefix="gdb -ex run --args" >
    </node>

</launch>
